#switchboard-page {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	display: none;
}
.switchboard-window {
	border-width: 1px;
	border-color: #BBBBBB;
	border-style: none none solid none;
	padding: 5px;
	overflow: hidden;
	margin-bottom: 5px;
}
.switchboard-window > strong {
	font-size: 2em;
}

#message-list, #message-list li {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

#message-window a:visited, #message-window a:active, #message-window a:link, #message-window a:hover {
	text-decoration: none;
	font-weight: bold;
	color: blue;
}

#timeline-list {
	margin: 10px;
	padding: 0px;
	list-style-type: none;
	list-style-image: none;
}

#timeline-list li{
	display: inline;	
	width: 100px;
	color: #ffffff;
	padding:2px 5px 2px 5px;
}

#timeline-bar-out {
	width: 500px;
	border: 1px solid gray;
	padding:0px 5px 0px 0px; 
	background: #dddddd;
	overflow: hidden;
}

#timeline-bar-in {
	border: 0px;
	margin: 0px;
	background: #87ED87;
	height: 20px;
	width:0px;
}

.timeline-bar-event {
	width: 5px;
	border: 0px;
	margin:0;
	padding: 0px;
	background: #FF0000;
	height: 20px;
	position: absolute;
	cursor: pointer;
}

#timeline-photo{
	width: 100%;
	border: 0px;
	padding: 0px;
}

#timeline-description strong
{
	color:#FF0000;
}
.switch-link {
	display: block;
	float: left;
	text-align: center;
	margin: 5px;
}
.switch-link a {
	text-decoration: none;
	color:#253571;
	font-size: 200%;
}
.switch-link img {
	border:0px;
	display: block;
}

#user-feed-url {
	color: #0000FF;
	width: 100%;
	border: 2px solid #DDDDDD;
}
#student-blogs-list, #student-blogs-list li {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

#kickstart-photo {
	display: block;
	width: 150px;
}

