[submodule "lint-reference"]
	path = lint-reference
	url = https://github.com/srobo/pyenv-dummy.git
[submodule "include/pipebot"]
	path = include/pipebot
	url = https://github.com/srobo/pipebot.git
[submodule "web/javascript/ace"]
	path = web/javascript/ace
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "tests/js/jasmine-data-provider"]
	path = tests/js/jasmine-data-provider
	url = https://github.com/PeterJCLaw/jasmine-data-provider.git
[submodule "zip-packager"]
	path = zip-packager
	url = https://github.com/srobo/brain-zip-packager.git
