Package: srobo-ide
Version: 0.11
Section: main
Priority: optional
Architecture: all
Depends: php, php-gd, git-core, pylint
Suggests: apache2|lighttpd, doxygen, php-cli, php-zip, nodejs, python-requests
Installed-Size: 0
Maintainer: Student Robotics
Description: A metapackage for srobo-ide
 The Student Robotics web IDE provides a web interface to develop python
 code on top of git version control. This package provides the minimum
 requirements to run the IDE on debian systems.
 .
 Developers should install the suggested packages too, so they can run
 the tests.
