Package: srobo-ide
Version: 0.08
Section: main
Priority: optional
Architecture: all
Depends: apache2|lighttpd, php5|php7.0, php5-gd|php7.0-gd, git-core, pylint
Suggests: doxygen, php5-cli|php7.0-cli, nodejs, python-poster
Installed-Size: 0
Maintainer: Student Robotics
Description: A metapackage for srobo-ide
 The Student Robotics web IDE provides a web interface to develop python
 code on top of git version control. This package provides the minimum
 requirements to run the IDE on debian systems.
 .
 Developers should install the suggested packages too, so they can run
 the tests.
