#admin-page strong {
	font-size: 1.1em;
}

#admin-page .menu-bar {
	text-align: center;
}

#admin-page table {
	border-collapse: collapse;
	margin: 0 auto;
	max-width: 80%;
	min-width: 50%;
}
#admin-page table tr {
	height: 30px;
}
#admin-page table tr:nth-child(even) {
	background-color: #eee;
}
#admin-page table th {
	text-align: right;
	padding-right: 7px;
}
#admin-page table td {
	padding-left: 5px;
}
#admin-page table td.buttons {
	text-align: center;
}

.disabled {
	color: grey;
}
.valid {
	background: url(../images/icons/tick.png) right no-repeat !important;
}
.invalid {
	background-color: #FF7E7E !important;
}
.rejected {
	background: url(../images/icons/cross.png) right no-repeat !important;
}

.switchboard-window {
	border-width: 1px;
	border-color: #BBBBBB;
	border-style: none none solid none;
	padding: 5px;
	overflow: hidden;
	margin-bottom: 5px;
}
.switchboard-window > strong {
	font-size: 2em;
}
