#diff-page {
}
#diff-page .menu-bar {
	padding-left: 10px;
}

pre.diff-box {
	margin: 12px;
}
pre.diff-box .at {
	color: orange;
}
pre.diff-box .add {
	color: green;
}
pre.diff-box .remove {
	color: red;
}
