#log-mode { display: none; }

#logmenu li div {
	padding: 0 10px;
	font-size: 1.2em;
}
#logmenu li select {
	padding: 0.2em 1em;
	margin-right: 0.2em;
	font-weight: bold;
	text-decoration: none;
}
#logmenu li.log-user, #logmenu li.log-navigate {
	float: right;
}
#logmenu li.log-user #repo-users {
	margin-left: 1em;
	margin-right: 1.5em;
}

#log-list {
	display: block;
	background-color: #DFDBD8;
	list-style-type: none;
	padding: 0px;
	margin: 1em 0 0;
}
#log-list li {
	margin: 0.5em 0;
	padding: 0.5em 0;
	background-color: #eeeeee;
}
#log-list input {
	margin-right: 2em;
}

.commit-msg {
	margin: 0.5em 0.5em 0.5em 4em;
	padding: 0.5em;
	background-color: #ffffff;
}
