body {
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: Helvetica,Arial,sans-serif;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

iframe { display: none; }

#top {
	background-color: rgba(50, 112, 237, 1);
	color: #FFFFFF;
	/* TODO: Internet explorer thing? */
	margin-top: -1px;
	overflow: hidden;
	width: 100%;
	font-size: 1.35em;
	height: 77px;
	position: relative;
}

#topleft {
	display: block;
	height: 1.5em;
	float: left;
}

#top ul {
	margin: 21px;
	padding: 0;
}
#top ul li {
	display: inline;
	background-color: rgba(50, 112, 237, 1);
	line-height: 1.5em;
}
#top ul li a {
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
	background-color: rgba(50, 112, 237, 1);
	color: #ffffff;
	margin-right: 20px;
}
#top ul li a:hover {
	background-color: #ffffff;
	color: rgba(50, 112, 237, 1);
}
#top ul#top-links {
	text-align: right;
	margin-right: 90px;
}
#top ul#top-links li {
	font-size: 1.2em;
}

#tabs {
	padding: 0;
	width: 100%;
	background-color: rgba(50, 112, 237, 1);
	text-align: left;
	overflow: auto;
}

#tabs ul {
	white-space: nowrap;
	list-style-type: none;
	padding: 0;
	margin: 0.5em;
	font-size: 1.2em;
}

#tabs ul li {
	display: inline;
	margin-right: 0.2em;
}

#tabs ul li.dummy {
	display: none;
}

#tabs li a {
	cursor: pointer;
	padding: 0.2em 1em;
	font-weight: bold;
	text-decoration: none;
	border: none;
	color: rgba(50, 112, 237, 1);
	position: relative;
}

#dropShortcuts {
	position: absolute;
	left: 0;		/* move to far left */
	z-index: 100;	/* in front of everything */
}

#dropShortcuts ul {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style-type: none;
	border: 0.3em solid rgba(50, 112, 237, 1);
	border-top: none;
}

#dropShortcuts li {
	background: rgba(224, 224, 224, 1);
	padding: 0.3em;
}

#dropShortcuts li:hover {
	background: #FFFFFF;
	cursor: pointer;
}

#dropShortcuts ul li a {
	text-decoration: none;
	color: rgba(50, 112, 237, 1);
	font-weight: bold;
}

.hidden {
	display: none;
}

#tabs li.focus a {
	background: #ffffff;
}
#tabs li.nofocus a {
	background: rgba(224, 224, 224, 1);
}

#tabs li > a {
	border-top-right-radius: 10px;
}
#tabs li a:hover {
	background: #ffffff;
}


#tabs li a.close {
	background: none;
	border: none;
	font-size: 0.5em;
	font-weight: bolder;
	margin: 0;
	padding: 1px 2px;
	position: absolute;
	top: 0;
	left: 0;
}

.shortcutButton {
}

#tabs li a.shortcutButton {
	padding: 0.2em 0.6em;
	margin-right: 0.4em;
	background: rgba(224, 224, 224, 1);
	font-size: 80%;
	font-weight: normal;
	border-radius: 0;
}

#tabs li a.shortcutButton:hover {
	background: #FFFFFF;
}

#tabs li a:hover a.close {	/* styling of close button when the tab it is in is moused over */
	background-color: rgba(224, 224, 224, 1);
}

#tabs li a a.close:hover {
	color: #FFFFFF;
	background: #999694;
}

/* status bar */

#status {
	margin: 5px auto;
	width: 60%;
	padding: 7px 10px;
	display: block;
	font-size: 1.2em;
	text-align: center;
	height: 1em;
}

.status-info { background-color: #98ff4f; }
.status-ok { background-color: #98ff4f; }
.status-warn { background-color: #ffff31; }
.status-error { background-color: #ff5e5e; }

#static-box, #rotating-box {
	height: 52px;
	position: absolute;
	right: 20px;
	top: 15px;
	width: 52px;
}

#rotating-box {
	display: none;
	background-color: white;
}

#page {
	width: 100%;
}

#page div.page {
	display: none;
}
#page div.page div.menu-bar + em {
	margin-left: 1em;
}

/* menu bar - top of most tabs, below the status bar - in css/menubar.css */
/* CSS for edit-mode should be place in css/editmode.css */
/* CSS for file-mode should be place in css/filemode.css */

#login-back {
	background-color: rgba(224, 224, 224, 1);
}

#login-back .status-info,
#login-back .status-ok,
#login-back .status-warn,
#login-back .status-error {
	background-color: transparent;
}

#login-box {
	margin: 150px 25% 0 25%;
	padding: 20px;
	background-color: rgba(50, 112, 237, 1);
	border: none;
	color: #ffffff;
	font-size: 1.5em;
	font-weight: bold;
}

#login-box #login-title {
	display: block;
}
#login-box em {
	font-size: 0.7em;
}

#login-box .smaller {
	font-size: 0.7em;
}
#login-box a {
	color: #ffffff;
	text-decoration: none;
	padding: 2px 4px;
}
#login-box a:hover {
	color: rgba(50, 112, 237, 1);
	background-color: #fff;
}
#login-box input {
	background-color: #ffffff;
	color: rgba(50, 112, 237, 1);
	padding: 5px;
	display: block;
	border: none;
	margin: 10px 0;
	width: 100%;
}
#login-box p#forgotten-password-help {
	display: none;
	margin: 1em;
}
#login-box p#forgotten-password-help.visible {
	display: block;
}
#login-box p#forgotten-password-help a {
	padding: 0;
}
a.button, #login-box #login-button {
	margin: 10px 25%;
	border: 2px solid #ffffff;
	padding: 2px 0;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	display: block;
	color: #ffffff;
	white-space: nowrap;
}
#login-box #login-button {
	background-color: rgba(50, 112, 237, 1);
	width: 50%;
	margin: 10px auto;
}
a.button:hover, #login-box #login-button:hover {
	color: rgba(50, 112, 237, 1);
	background-color: #ffffff;
}

#teamname {
	font-weight: bold;
	font-size: 1.5em;
	font-style: italic;
}
.dummy {
	display: none;
}

#about-box {
	background-color: rgba(224, 224, 224, 1);
	border: 4px solid rgba(50, 112, 237, 1);
	color: #000;
	left: 32%;
	padding: 4px;
	position: absolute;
	top: 20%;
	text-align: center;
	width: 36%;
	z-index: 100;
}
#about-title {
	font-size: 1.6em;
	font-weight: bold;
}
#about-box fieldset {
	margin: 4px;
	padding: 0;
}
#about-box dl {
	margin: 10px auto;
	text-align: left;
	width: 350px;
}
#about-box dt {
	line-height: 1.4em;
	font-weight: bold;
}
#about-box dd {
	line-height: 1.4em;
	margin-left: 75px;
	margin-top: -1.45em;
}
#about-shortcuts {
	font-size: 0.95em;
}
#about-shortcuts dd {
	margin-left: 125px;
}

#grey-out {
	background-color: rgba(224, 224, 224, 1);
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	-moz-opacity: 0.75;
	opacity: .75;
	filter: alpha(opacity=75);
}

.read-only div.ace_scroller,
.read-only {
	/* light yellow */
	background-color: #ffb;
}
