#projects-page { width: 100%; }

#proj-sidebar {
  float:left;
  width: 18em;
  border-style: none solid none none;
  border-color: #dfdbd7;
  border-width: 1px;
  padding-left:1em;
}

#proj-sidebar hr {
  border-color: #dfdbd7;
  border-width: 1px;
  border-top-width:0px;
  border-style: solid;
}

#proj-options {
  text-align: center;
}
#proj-options div {
	text-align: center;
}

#proj-options button {
	width: 130px;
}

#proj-fileops span {
}

.clear {
	clear:both;
}

#proj-fileops ul {
  margin: 0;
  padding: 0.5em 0 0 2em;
}

#proj-fileops li {
  list-style-type: none;
  margin: 1px;
}

#proj-fileops li a {
  text-decoration: none;
  color: black;
  display: block;
}

#proj-fileops li a:hover {
  background-color: rgba(50, 112, 237, 1);
  color: #ffffff;
}

#proj-fileops li a.disabled {
  background-color: inherit;
  color: grey;
  cursor: default;
}

#proj-rpane {
  margin-left: 20em;
}

#proj-name {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

#proj-info {
  float: right;
  margin: 1em 3em 0 0;
}

#proj-filelist li {
  list-style-type: none;
}

#proj-filelist ul {
  margin: 0;
  padding: 0;
}

#proj-filelist > ul {
  padding-top: 1em;
  padding-left: 2em;
}

.flist-l li a { padding-left: 1em; }

.flist-l div div { margin-left: 0.5em; }

#proj-filelist li a {
  display: block;
  text-decoration: none;
  line-height: 1.2em;
  margin-right: 1em;
  color: black;
}

/* The vertical bar along the side of each directory */
#proj-filelist li a div {
  border-style: none none none solid;
  border-width: 1px;
  border-color: #dfdbd7;
  padding-left: 1em;
}

#proj-filelist li a:hover {
  background-color: #dfdbd7;
}

#proj-filelist li a:visited {
  color: black;
}

#proj-filelist li.selected a, #proj-filelist li.selected a:visited  {
  color: #ffffff;
}

#proj-filelist li.selected {
  background-color: rgba(50, 112, 237, 1);
}

/* The "loading" DIV displayed whilst the filelist is loading  */
#proj-filelist.loading {
  font-weight: bold;
  padding-left: 2em;
  padding-top: 2em;
}

.proj-filelist-dir-collapse {
  font-style: italic;
  color: rgb(100,100,100);
}

#clearboth { clear: both; }
