
#team-status-page #team-status-title {
	display: block;
	padding: 0.4em 1em;
}

#team-status-page .save-button {
	float: right;
	margin: 0 1em;
}

#team-status-page .info {
	font-size: 0.95em;
}

#team-status-page ul.info {
	list-style-type: none;
}

#team-status-page ul.info li {
	margin: 5px 0;
}

#team-status-page ul.info img {
	vertical-align: text-top;
}

#team-status-page > p, #team-status-page > ul {
	margin: 15px auto;
	width: 80%;
}

#team-status-page table {
	margin: 0 auto;
	width: 80%;
}
#team-status-page table th {
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
}
#team-status-page table td {
	padding-bottom: 10px;
}
#team-status-page table td p {
	margin: 0;
}

#team-status-page input[type="text"], #team-status-page textarea {
	width: 100%;
	border: 2px solid #DDDDDD;
	padding: 2px 18px 2px 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#team-status-page textarea {
	height: 8em;
}
